{% import 'Macro/form.twig' as form %}

{% extends 'layout.twig' %}

{% block body %}
    <div class="row">
        <h1>New gift</h1>
        <div>
            <form>
                {{ form.input('name','lavalue', 'name', 'Name', 'the name','text', 1) }}

            </form>
        </div>
    </div>
{% endblock %}