@import 'plain/plain';
@import 'fa/scss/font-awesome';

table {
  margin-top: 26px;
  margin-bottom: 26px;

  th {
    font-weight: bold
    }
}

.flash {
  position: relative;
  z-index: 1;
}


div.mecadoHomeBackground{
  height : 100vh;
  width : 100%;
  background-image: url("http://ngn-mag.com/image/wallpaper/christmas-gift-wallpaper-9.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color:white;
  background-size: cover;
}

div.homeContainer{
  @extend .align-center;
  width : 100%;
  margin-top: 50vh;
  transform: translateY(-80%);
}

ul.mecadoNav{
  @extend .navbar;
  background-color : lightblue;
  border: none;
  height : 100px;
  margin-right : 0;
  align-items: center;
  justify-content: center;
}

ul.mecadoNav li {
  border-left : 2px solid dodgerblue;
}

ul.mecadoNav > #mecadoLogo{
  margin-right : auto;
  border : none;
}

ul.mecadoNav li a:hover{
  background-color: darken(#5bc0de,1);
}


#mecadoNavLogo{
  max-height : 100px;
}

input.mecadoInput{
  font-size : 1em;
  border : 1px solid black;
  border-radius : 3px;
  height : 25px;
  padding : 2px 20px;
  margin : 10px 0;
}

input.mecadoInputLine{
  font-size : 1em;
  border : 1px solid black;
  border-radius : 3px;
  height : 25px;
  padding : 2px 20px;
  margin : 0;
}

input.file{
  /*TODO*/
}

textarea.mecadoTextareaLine{
  font-size : 1em;
  border : 1px solid black;
  border-radius : 3px;
  padding : 2px 20px;
}


div.mecadoAccountPersonal, div.mecadoAccountPassword{
  @include make-grid-columns(12,6,4);
}

div.mecadoAccountPersonal{
  @include make-grid-offset(0,0,2);
}

div.mecadoAccountPassword{
  @include make-grid-offset(0,0,1);
}

.mecadoBtn{
  @extend .btn-blue;
}

div.mecadoTitle{
  @extend .align-center;
  width : 100%;
}

div.mecadoGrid{
  @include make-grid-offset(12,12,12);
  @include make-grid-columns(12,12,12);
}

div.mecadoContainer{
  @extend .container;
}
h1,h2,h3,h4,h5,h6{
  font-family : 'Titillium Web', BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color : #5bc0de;
}

