@import 'plain/plain';
@import 'fa/scss/font-awesome';


body{
  position : relative;
}

.flash {
  position: relative;
  z-index: 1;
}


div.mecadoHomeBackground{
  height : 100vh;
  width : 100%;
  background: white url("http://ngn-mag.com/image/wallpaper/christmas-gift-wallpaper-9.jpg") no-repeat fixed center center;
  background-size: cover;
}

div.homeContainer{
  @extend .align-center;
  width : 100%;
  margin-top: 50vh;
  transform: translateY(-80%);
}

ul.mecadoNav{
  @extend .navbar;
  background-color : white;
  border: none;
  height : 100px;
  margin-right : 0;
  align-items: center;
  justify-content: center;
  border-bottom : 2px solid deeppink;
  text-transform: uppercase;
}

ul.mecadoNav li {
  border-left : 2px solid deeppink;
}

ul.mecadoNav li a:hover {
  background-color : $navbar-active-link-active-bg;
}

.active {
  @extend .active;
  font-weight: bold;
}

ul.mecadoNav > #mecadoLogo{
  margin-right : auto;
  border : none;
}



#mecadoNavLogo{
  max-height : 100px;
}

input.mecadoInput{
  font-size : 1em;
  border : 1px solid black;
  border-radius : 3px;
  height : 25px;
  padding : 2px 20px;
  margin : 10px 0;
}

input.mecadoInputLine{
  font-size : 1em;
  border : 1px solid black;
  border-radius : 3px;
  height : 25px;
  padding : 2px 20px;
  margin : 0;
}

input.file{
  /*TODO*/
}

textarea.mecadoTextareaLine{
  font-size : 1em;
  border : 1px solid black;
  border-radius : 3px;
  padding : 2px 20px;
}


div.mecadoAccountPersonal, div.mecadoAccountPassword{
  @include make-grid-columns(12,6,4);
}

div.mecadoAccountPersonal{
  @include make-grid-offset(0,0,2);
}

div.mecadoAccountPassword{
  @include make-grid-offset(0,0,1);
}

.mecadoBtn{
  @extend .btn-blue;
}

div.mecadoTitle{
  @extend .align-center;
  width : 100%;
}

div.mecadoGrid{
  @include make-grid-offset(12,12,12);
  @include make-grid-columns(12,12,12);
}

div.mecadoContainer{
  @extend .container;
}
h1,h2,h3,h4,h5,h6{
  font-family : 'Titillium Web', BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color : #5bc0de;
}

div.mecadoNav{
  position : fixed;
  bottom : 0;
}

.mecadoFooter{
  position: absolute;
  width: 100%; height: 50px;
  bottom: 0; left: 0; right: 0;
}

@media only screen and (max-width: 850px){

  ul.mecadoNav li {
    width : 100%;
    border-left-style: none;
    border-top : 1px solid deeppink;
  }

  ul.mecadoNav > #mecadoLogo{
    margin-right : 0;
  }
}