

{% block body %}

    <h1>A propos</h1>

    <div>
        <p>Mecado.net est un site web vous permettant des créer des listes de cadeaux que vous souhaiteriez recevoir pour vous ou un autre destinataire.</p>
        <p>Vous pouvez également partager vos liste avec d'éventuels contributeurs qui pourront alors s'engager à offrir un des éléments de la liste en le réservant.</p>

    </div>
{% endblock %}