{% extends 'layout.twig' %}


{% block body %}
    <div class="mecadoContainer">
        <div class="mecadoTitle">
            <h1>About MECADO.NET</h1>
            <p>What is MECADO.NET ?</p>
        </div>
        <div>
            <p>MECADO.NET is a project developed by Islam ELSHOBOKSHY, Louis CUNY, Quentin DELAMARRE and Quentin RENOUARD as part of their studies.</p>

            <p>Thanks to MECADO.NET, you can create gift lists that you would like to receive for you or another recipient.</p>

            <p>Fill in the name of the list, its recipient, a deadline and a short description and voila, your list is available to any
                contributor receiving the link you send. You can then add gifts to this list, contributors can then position themselves
                on them and book them. Simple and effective, MECADO.NET is there in order to facilitate the organization and the sharing
                of gifts during an event</p>

            <p>So let's go and offer what you want with MECADO.NET!</p>

        </div>
    </div>
{% endblock %}