{% extends 'layout.twig' %}

{% block body %}

    Specific list page

    <h1>list.name</h1>
    <h3>list.recipient</h3>

    {% for gift in gifts %}
        <h1>{{ gift.name }}</h1>
    {% endfor %}

{% endblock %}